h1 {
    font-size: 80px;
    position: relative;
    top: 150px;
    text-shadow: 4px 4px 10px black;
}

body {
    text-align: center;
    background-size: cover;
    background-position: center;
    color: black;
    font-family: tahoma;
    background-repeat: no-repeat;
    background-position: right top;
}

p {
    font-size: 30px;
    position: relative;
    top: 150px;
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
}

button {
    font-size: 18px;
    position: relative;

}

tr,
th {
    padding: 20px;
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 50%;
    position: relative;
    right: 480px;
    top: 200px;
}