body {
  text-align: center;
  background-size: cover;
  background-position: center;
  color: black;
  font-family: tahoma;
  background-repeat: no-repeat;
  background-position: right top;
}

h1 {
  font-size: 80px;
  position: relative;
  top: 200px;
  text-shadow: 4px 4px 10px black;
}

p {
  font-size: 40px;
  position: relative;
  top: 220px;
}

a {
  font-size: 50px;
  position: relative;
  top: 350px;
  text-decoration: none;
  margin: 50px;
  color: black;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

button {
  font-size: 18px;
  position: relative;
  top: 350px;
}

#div1 {
  position: relative;
  top: 350px;
}